name: Notificación Diaria de Clima

# Controla cuándo se ejecuta el script
on:
  schedule:
    # Se ejecuta todos los días a las 07:00 AM UTC
    # (Equivale a las 08:00 AM en España en invierno / 09:00 AM en verano)
    - cron: '0 7 * * *'
  
  # Permite ejecutar el script manualmente desde la pestaña "Actions"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Descarga el código de tu repositorio
      - name: Checkout del código
        uses: actions/checkout@v4

      # 2. Instala Python en el servidor de GitHub
      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # 3. Instala la librería necesaria
      - name: Instalar dependencias
        run: pip install requests

      # 4. Ejecuta el script de Python pasando los Secretos como variables de entorno
      - name: Ejecutar script de clima
        env:
          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          CIUDAD: ${{ secrets.CIUDAD }}
        run: python weather2.py
